| Dear #{firstName},

| We are thrilled to inform you that your gift card request is now ready! Our team of Elfs has carefully prepared your gift card and we are delighted to send it to you.

| At Remote Santa, we strive to create exceptional gifting experiences. Your chosen gift card, customized to your preferences, is now beautifully designed and ready to bring joy to its lucky recipient.

| Details of your gift card:
| - Store: #{storeName}
| - Amount: #{amount} #{currency}
| - Country: #{storeCountryCode}

| Please find attached your digital gift card. You can simply open the attachment to view and redeem it. If you encounter any issues or have any questions, our support team will be more than happy to assist you.

| Thank you for choosing Remote Santa for your gifting needs. We hope this gift card brings delight and happiness to you or your intended recipient.

| Warm regards,
| Remote Santa Team