|Congratulations! Your company, #{orgName}, has rewarded you with points for #{month}. 
|
|Details:
|- Points Earned: #{pointsAmount}
|- Month: #{month}
|- Awarded by: #{orgName}
|
|Log in to your Remote Santa account and explore our curated collection to redeem your points for amazing gift cards. Treat yourself or someone special to a gift that will leave a lasting impression.
|#{loginUrl}
|
|Congratulations once again on your well-deserved reward! Enjoy the rewards and thank you for being a valuable member of #{orgName}.
|
|Warm regards,
|Remote Santa Team
