| Hello,

| You have requested to purchase #{amount} points.

| Here are the details of your request:

| User ID: #{userId}
| User Name: #{firstName} #{lastName}
| Organization Name: #{orgName}
| Organization ID: #{orgId}
| Amount of Points: #{amount}
