doctype html
html(lang="en")
  head
    style(type='text/css').
      // Add your custom CSS styles here
  body
    p Hi #{firstNameRecipient},
    p Great news! Your colleague, #{firstNameSender}, surprised you with a special gift card from Remote Santa! 
    p Here's a quick peek at your gift card details:
    ul
      li Store: #{storeName}
      li Amount: #{amount} #{currency}
    p Your colleague added a personal touch with this message: 
    blockquote #{personalizedMessage}
    p You'll receive your gift card in a few minutes, so get ready for some virtual fun.
    p If you want to send a message back, just hit reply.
    p Have a wonderful day,
    p Remote Santa Team
