doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style.
      /* Add your CSS styles here */

  body
    p Dear #{firstName},

    p You have received #{amount} points from your colleague, #{fromName}!

    p Message from #{fromName}:
    blockquote #{message}

    p 
      | These points can be used to redeem gift cards on the 
      a(href=loginUrl)
        | Remote Santa
      |  platform. Log in to your account and explore our curated collection to find the perfect gift card for yourself or someone special.   

    p Thank you for being a part of Remote Santa and for your contributions to the team. Enjoy your gift card!

    p Best regards,
    p Remote Santa Team