| Hi #{firstName},
|
| Congratulations! 
|
|  #{fromName} just sent you #{amount} fresh points with note:
|  #{message}
|
| Search the offer of gift cards and use the points on something you love! 
| Happy shopping!
|
| Login and use points - #{loginUrl}
|
|
| Best regards,
| Remote Santa Team
