doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style.
      /* Add your CSS styles here */

  body
    p You have requested to set config for birthdays.
    p Here are the details of your request:
    ul
      li User ID: #{userId}
      li User Name: #{firstName} #{lastName}
      li User Email: #{userEmail}
      li Organization Name: #{orgName}
      li Organization ID: #{orgId}
      li Preferred Meeting Platform: #{preferredMeetingPlatform}
      li Preferred Time Details: #{preferredTimeDetails}
      li Buget In Points: #{bugetInPoints}
