| Hello,

| You have requested to set config for birthdays.

| Here are the details of your request:

| User ID: #{userId}
| User Name: #{firstName} #{lastName}
| User Email: #{userEmail}
| Organization Name: #{orgName}
| Organization ID: #{orgId}
| Preferred Meeting Platform: #{preferredMeetingPlatform}
| Preferred Time Details: #{preferredTimeDetails}
| Buget In Points: #{bugetInPoints}

