doctype html
html(lang="en")
  head
    style(type='text/css').
      // Add your custom CSS styles here
  body
    p Hi #{firstNameSender},
    p Your gift card for #{firstNameRecipient} is on its way and will be in their inbox in a few minutes!
    p Here's a sneak peek:
    ul
      li Store: #{storeName}
      li Amount: #{amount} #{currency}
    p Your personalized message to #{firstNameRecipient}:
    blockquote #{personalizedMessage}
    p If you have any questions or need assistance, feel free to reach out. We're here to help!
    p Cheers,
    p Remote Santa Team

