| Hi #{firstNameSender},

| Your gift card for #{firstNameRecipient} is on its way and will be in their inbox in a few minutes!

| Here's a sneak peek:
| - Store: #{storeName}
| - Amount: #{amount} #{currency}

| Your personalized message to #{firstNameRecipient}:
| #{personalizedMessage}

| If you have any questions or need assistance, feel free to reach out. We're here to help!

| Cheers,

| Remote Santa Team