doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style.
      /* Add your CSS styles here */

  body
    p You have new org signup.
    p Here are the details of your request:
    ul
      li User Name: #{firstName} #{lastName}
      li User Email: #{userEmail}
      li Organization Name: #{orgName}
      li Referral Code: #{referralCode}

