| Hello,

| You have new org signup.

| Here are the details of your request:

| User Name: #{firstName} #{lastName}
| User Email: #{userEmail}
| Organization Name: #{orgName}
| Referral Code: #{referralCode}


