| Hi #{firstName},
|
| Congratulations! 
|
|  #{orgName} just sent you #{amount} fresh points with note:
|  #{message}
|
| Search the offer of gift cards and use the points on something you love! 
| Happy shopping!
|
| Use points - #{loginUrl}
|
| Best regards,
| Remote Santa Team
