| Dear #{firstName},

| Congratulations! #{orgName} has just sent you #{amount} points on Remote Santa.

| Message from #{orgName}:
| #{message}

| These points can be used to redeem gift cards on the Remote Santa platform. Log in to your account and explore our curated collection to find the perfect gift card for yourself or someone special.
| #{loginUrl}

| Thank you for your hard work and dedication. Enjoy your gift card!

| Best regards,
| Remote Santa Team