| Hi #{firstNameSender},
|
| The #{giftCardIntegrationTitle} gift card you sent to #{firstNameRecipient} was unfortunately declined and will not be processed.
|
| All pending points are released and returned to you.
|
| We hope you will find some other shop to send a gift to #{firstNameRecipient}.
|
| The reason for declining the gift card:
| #{adminComment}
|
| Best regards,
| Remote Santa Team
